<a class="twitter-timeline" href="https://twitter.com/miyatsuki_shiku" data-widget-id="701321836252954624">@miyatsuki_shikuさんのツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{{#get "posts"}}
<nav class="menu">
  <span class="menu-heading">Recent posts</span>
  {{#foreach posts limit="5"}}
    <a class="menu-item tag" href="{{url}}">{{title}}</a>
  {{/foreach}}
</nav>
{{/get}}
